* {
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  width: 500px;
  min-height: 500px;
  max-height: 100%;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 5px 0px rgba(212, 212, 212, 0.75);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
