<form [formGroup]="myFormGroup" 
(ngSubmit)="register()">
    <label>
        Imię:
        <input type="text"
            formControlName='firstName'
        />
        <div class='error' 
            *ngIf="myFormGroup.get('firstName').hasError('required') && myFormGroup.get('firstName').touched">
                Pole jest wymagane
        </div>
        <div class='error' 
            *ngIf="myFormGroup.get('firstName').hasError('maxlength') && myFormGroup.get('firstName').touched">
                Pole jest za długie
        </div>
    </label>
    <br />
    <label>
        Nazwisko:
        <input type="text"
            formControlName='lastName'
            />
            <div class='error' 
            *ngIf="myFormGroup.get('lastName').hasError('required') && myFormGroup.get('lastName').touched">
                Pole jest wymagane
            </div>
    </label>
    <br />
    <label>
        Email:
        <input type="text"
            formControlName='email'
            email />
    </label>
    <br />
    <label>
        Telefon:
        <input type="number"
            formControlName='phoneNumber'
            />
        </label>
    <br />
    <label>
        Plec:
        <label>
            <input type="radio" 
                value="0"
                formControlName='sex'
                />
                Kobieta
        </label>
        <label>
            <input type="radio" 
                value="1"
                formControlName='sex'
                />
                Facet
        </label>
    </label>
    <br />
    <button type="submit"
    [disabled]="myFormGroup.invalid">Zapisz</button>
</form>

<pre>
    {{myFormGroup.value | json}}
</pre>
