<div class="home">
  <section class="nav">
    <button class="add">
      <a class="router" routerLink="/task">Add task</a>
    </button>
  </section>
  <app-task-list
    title="Tasks to do"
    [list]="dataService.list | isDone: false"
    (taskChanged)="onTaskChange($event)"
    (taskRemove)="onTaskRemove($event)"
  ></app-task-list>

  <app-task-list
    title="Tasks done"
    [list]="dataService.list | isDone"
    (taskChanged)="onTaskChange($event)"
    (taskRemove)="onTaskRemove($event)"
  ></app-task-list>
</div>
