.home {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
h1 {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  margin: 40px auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.nav {
  position: absolute;
  top: -130px;
  left: 20px;
  z-index: 1;
}

.nav a i {
  color: grey;
  font-size: 24px;
}
.wrapper {
  width: 90%;
  margin: 150px auto 20px;
  display: flex;
  flex-direction: column;
}
span {
  margin: 10px 0 10px 0;
}
input {
  border-radius: 5px;
  box-shadow: none;
}
.date {
  max-width: fit-content;
}
.save {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  cursor: pointer;
  height: 36px;
  border-radius: 18px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(225deg, #d650b3 0%, #6137d3 100%);
  border: none;
  color: white;
  font-size: 14px;
  transition: 0.2s linear;
}
.save:hover {
  font-size: 15px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 36px;
  }
}
