form {
    border: 1px solid greenyellow;
    padding: 10px;
    width: 400px;
}

.ng-invalid {
    border: 1px solid red;
}

input[type=text] {
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

.error-msg {
    color: red;
    font-size: smaller;
}